################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Brickdoku/.vs/Brickdoku/FileContentIndex/ba7d11d4-5be8-4437-9b1f-795d8c7d47a2.vsidx
